* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-container{
    display: flex;
    gap: 4%;
    flex-direction: row;
    background-color: darkslategrey;
    color: whitesmoke;
    height: fit-content;
    width: 100%;
    position: relative;

}

.main-container > div:first-child{
    font-size: 1.3em;
    align-items: center;
    display: flex;
    margin-right: 20px;
    margin-left: 10px;
}
.main-container > div:nth-child(2),
.main-container > div:nth-child(3),
.main-container > div:nth-child(4),
.main-container > div:nth-child(5),
.main-container > div:nth-child(6)
{ 
    align-items: center;
    display: flex;
}
.search-section{
    position: relative;
    right: 10px;
    display: flex;
    gap: 10px;
    flex: 1 1 auto;
    justify-content: end;
}
input{
    height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
}
button{
    width: 70px;
    background-color: darkslategrey;
    color: rgb(44, 223, 44);
    height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid rgb(44, 223, 44);
    border-radius: 5px;
}
form{
    display: flex;
    gap: 7px;
}
button:hover{
    background-color: rgb(44, 223, 44);
    color: whitesmoke;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
#disabled{
        pointer-events: none !important;
        cursor: default;
        color:Gray;
}

.menu-bar{
    display: none;
}

@media (max-width: 768px) {
    .menu-bar{
        display: flex;
        margin-right: 40px;
    }
    .main-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    img{
        height: 20px;
        margin-top: 3px;
    }
        .main-container > div:nth-child(2),
        .main-container > div:nth-child(3),
        .main-container > div:nth-child(4),
        .main-container > div:nth-child(5),
        .main-container > div:nth-child(6){
            display: none;
        }
}